{{ form_start(form) }}
        {{ form_row(form.pictureFile) }}
        {{ form_row(form.category) }}
        {{ form_row(form.description) }}
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
